*{box-sizing:border-box}
html,body{
  margin:0;
  background:#efe0bd;
}
img{
  display:block;
  width:100%;
  height:auto;
}

.desktop{
  width:min(100vw,980px);
  margin:0 auto;
}

.mobile{
  display:none;
  width:min(100vw,435px);
  margin:0 auto;
}

@media (max-width:760px){
  .desktop{display:none;}
  .mobile{display:block;}
}
